<!doctype html>
<html lang=pl>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="/commonjs/_design/default/application.css">
    <title>Cytaty Stanisława J. Leca i Hugo D. Steinhausa</title>
  </head>
<body>
  <p>{{ quotation }}</p>
  <p><small>Powered by CouchDB (v1.3.0) &amp; Mustache.js (v0.7.2)</small></p>
</body>
</html>
