<!doctype html>
<html lang=pl>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="/couchapp_04/_design/app/css/application.css">
    <title>Should be Lslash: Ł</title>
  </head>
<body>
  <p>{{quotation}}</p>

  <p>Cannot push: ó</p>
</body>
</html>
