<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="author" content="Włodek Bzyl">
  <title>{%= @title %}</title>
  {%= stylesheet_link_tag "/css/coderay.css", "/css/code.css" %}
</head>
<body>
<div id="code">
{%= yield %}
</div>
</body>
</html>
